@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{  
    font-family: 'Concert One', cursive;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.card{
    background-color: rgba(73, 7, 112, 0.92);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 370px;
    border-radius: 10px;
}

.titulo{
    margin-top: 20px;
    font-size: 1.2em;
    color: #62D445;
}

.formulario{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-input{
    padding-top: 30px;
}

.text-input > label{
    font-size: 1.5em;
    width: 20px;
    color: white;
}

.text-input > input{
    width: 230px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    padding: 4px;
}



.formulario > button{
    margin-top: 20px;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.formulario > button:hover{
    background-color: #000;
    color: #62D445;
    transition: 0.5s;
}

#resultado{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3em;
    color: #fff;
}