@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(134, 89, 89);
}

.todoList{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

.title{
    font-size: 1.8em;
    color: #fff;
    text-shadow: 1px 2px 2px rgb(238, 70, 70);
}

.novaNota{
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #000;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.novaNota > input{
    border: none;
    width: 500px;
    outline: none;
    font-size: 1.2em;
    border-radius: 10px;
    margin-left: 10px;
}

#botaoAdd{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

img{
    width: 23px;
}

#notas{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
}

.nota-item{
    display: flex;
    width: 80%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(177, 84, 84);
    margin: auto;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 10px;
}

.nota-item div {
    width: 80%
}
.nota-item input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.nota-item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.nota-item input[type='button']{
    width: 30px;
    height: 30px;
    background: none;
    background-repeat: no-repeat;
    background-image: url('../img/remover.png');
    cursor: pointer;
    border: none;
    margin-top: 5px;
}
